<mat-card class="mat-elevation-z8">
    <mat-card-header>
        <mat-card-title>OS System</mat-card-title>
        <mat-card-subtitle>Sistema de Ordens de Serviço- Este sistema foi desenvolvido utilizando a linguagem Java no Back End adotando todas as características do padrão e conceitos de Orientação a objetos. No front end foi utilizado o framework Angular com a linguagem
            TypeScript.
        </mat-card-subtitle>
        <img src="assets/img/work.png" alt="">
    </mat-card-header>


</mat-card>