.container {
    width: 70%;
    margin: auto;
}

h1 {
    text-align: center;
    margin-bottom: 4rem;
}

#abertura {
    text-align: end;
}

button {
    margin-bottom: .5rem;
    margin-right: 20px;
    margin-top: 1rem;
}